nav{
    width: 100%;
    /* background: #333; */
    color: #fff;
    color:#fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
.dark-nav{
    background: #212EA0;
    transition : 0.5s;
}
/* <Link to ='hero' smooth = {true} offset = {0} duration = {500}>Home</Link>
<Link to ='program' smooth = {true} offset = {0} duration = {500}>Progrram</Link>
<Link to ='about' smooth = {true} offset = {0} duration = {500}>About us</Link>
<Link to ='campus' smooth = {true} offset = {0} duration = {500}>Campas</Link>
<Link to ='testimonials' smooth = {true} offset = {0} duration = {500}>Testimonials</Link>
<Link to='contact' smooth = {true}   offset={0} duration={500} className ='btn'>Contact</Link> */
 /* media query */
 @media (max-width:1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin:10px 15px;
    }
 }
 @media (max-width:840px){
    nav{
        padding: 15px 0;
    }
    nav ul {
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        background: #212EA0;
        z-index: inherit -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
 }